<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <div v-for="(value,index) of list" v-if="index">
            <div>{{index}}-{{value}}</div>
        </div>
        <div>{{message}}</div>
        <my-first v-for="item in dish" v-bind:uname="item"></my-first>
    </div>
    <script>
        Vue.component("my-first", {
            props: ["uname"],
            template: "<div>{{uname}}</div>"
        })

        var vm = new Vue({
            el: "#app",
            data: {
                message: 23,
                dish: {
                    dishName1: 'flower1',
                    dishName2: 'grass2',
                    dishName3: 'tree3'
                },
                list: ['flower', 'grass', 'tree']
            },
        });
    </script>
</body>

</html>